/* CSS file for Landing Page  */

.sec-1 {
    background-color: #1F2937;
}
.header {
    display: flex;
    align-items: center;
    padding: 16px;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 18px;
    color: #E5E7EB;
}

.header .header-logo{
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.sec-1-content {
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 30px;
}

.sec-1-content .heading {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.sec-1-content .text {
    font-size: 18px;
    color: #E5E7EB;
}

.sec-1-content button{
    background-color: #3882f6;
    color: #E5E7EB;
    border: none;
    border-radius: 3px;
    padding: 2px 20px;
    font-weight: bold;
}
